@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", monospace;
}
/* header style */
.hero {
  height: 652px;
  background-image: url("./assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container img {
  padding-top: 26px;
  margin-bottom: 32px;
}
.hero-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.hero-des {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  opacity: 0.7;
}
.hero-container button {
  width: 208px;
  height: 66px;
  padding: 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
.hero-container a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

/* main section */

/* Why */
.cause {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.cause-container {
  padding: 80px 97px;
  /* border: 2px solid red; */
}
.cause-text {
  margin: 0 47px;
  text-align: center;
}
.cause-text h2,
.ins-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}
.cause-text p,
.ins-des {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
  text-align: center;
  opacity: 0.7;
}
.card1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  margin-bottom: 32px;
  padding: 48px;
}
.card2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  background: (270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  padding: 48px;
}
.card3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  padding: 48px;
}
.card-container h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 16px;
}
.card-container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.card-container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
.card-container a {
  text-decoration: none;
  color: inherit;
}

/* My Inspiration */
.inspiration {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 149px;
}
.ins-text {
  margin: 0 144px;
  text-align: center;
  margin-bottom: 48px;
}
.ins-vdo iframe {
  border-radius: 16px;
}
.ins-vdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
}
/* My current target */
.target {
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 44px;
}
.target-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.target-card1,
.target-card2,
.target-card3 {
  width: 364px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
}
.target-card1 {
  background: rgba(255, 76, 30, 0.05);
}
.target-card2 {
  background: rgba(0, 76, 232, 0.05);
}
.target-card3 {
  background: rgba(255, 223, 0, 0.05);
}
.target-card-container img {
  margin-bottom: 24px;
}
.target-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  margin-bottom: 8px;
}
.target-des {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.target-card-container a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
}
/* Support section */
.support {
  width: 1140px;
  height: 314px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 48px;
  border-radius: 16px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px;
}
.support-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.support-des {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}
.mail-section {
  display: flex;
  gap: 16px;
}
.mail-section input[type="text"] {
  width: 548px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.mail-section input[type="submit"] {
  width: 120px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  cursor: pointer;
}

/* footer section */
.footer {
  height: 100px;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  padding: 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-container p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.icon {
  display: flex;
  gap: 24px;
}
